body {
    margin: 0;
    background-color: #87CEEB; /* Light blue background for body */
    overflow: hidden; /* Prevent scrollbars */
}

#gameCanvas {
    display: block;
    background: url('background.jpg') no-repeat center center fixed; /* Background image */
    background-size: cover;
}
